.Header {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.left > h1 {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 65px;
  font-weight: 800;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left > p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 550px) {
  .left > h1 {
    font-size: 35px;
  }
  .Header {
    padding: 0rem;
    margin: 150px 0px;
  }
}
