.int-main > h1 {
  font-size: 45px;
  font-weight: 800px;
  color: white;
}
.int-main {
  padding: 1rem 2rem;
}
@media screen and (max-width: 550px) {
  .int-main > h1 {
    font-size: 25px;
  }
  .int-main {
    padding: 1rem 0.5rem;
  }
}

.holder {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
