.App {
  /* background-image: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%); */
  background-color: #040c18;
}
.app-content {
  padding: 1rem 4rem;
}
@media screen and (max-width: 550px) {
  .app-content {
    padding: 1rem 1rem;
  }
}
.footer {
  box-shadow: 0px 0px 1px white;
  padding: 0.5rem;
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: rgb(172, 172, 172);
}
